.login-control{
  display: flex;
  align-items: center;
}
.login-control button {
  
  color: #373b69; 
  border: none;
  font-weight: bold;
  border-radius: 20px;
  padding: 7px 20px;
  cursor: pointer;
}
.login-control div {
  margin-left: 10px; 
  color: white; 

}