
.movie-detail-container {
  display: flex;
  align-items: center;
}

.movie-poster {
  width: 400px; 
  height: auto;
  margin-right: 20px; 
}


.movie-title {
  font-size: 30px; 
  font-weight: bold;
}
