.header {
  background: #22254b;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  padding: 10px;
  left: 0;
  right: 0;
}

.logo {
  margin-right: 15px;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}
