body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

p {
  font-size: 11px;
  padding-top: 7px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  height: 100vh;
  padding-top: 75px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: center;
}

.movie-card {
  width: 200px;
  margin: 10px;
  background-color: #373b69;
  color: white;
  font-size: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-card {
  position: relative;
  width: 220px;
  margin: 10px;
  overflow: hidden;
}

.overlay {
  /* position: relative; */
  width: 100%;
}

.overlay img {
  height: 100%;
  width: 100%;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  color: #fff;
  display: none;
}

.movie-card:hover .description {
  display: block;
  background-color: #10121f;
}
